.table {
    display: flex;
    justify-content: center;
}

.table-squares {
    height: 200px;
    width: 200px;
    background-color: dimgrey;
    color: gray;
    display: table;
    border-collapse: collapse;
}

.table-row {
    display: table-row;
}

.table-col {
    display: table-cell;
    /*border: 1px solid black;*/
    vertical-align: middle;
    text-align: center;
}